body {
  margin: 0;
  background-color: #bdf;
}

.block {
  position: absolute;
  margin: 5px;
  width: 520px;
  height: 150px;
}

.block-io {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-io-input {
  height: 50px;
}

.block-io input {
  font-size: 14px;
  height: 24px;
  border: 1px solid #88F;
  width: 100px;
}

.io-arrow {
  display: inline-block;
  font-size: 18px;
}

.block-src {
  position: absolute;
  top: 0;
  left: 120px;
  height: 94px;
  border: 1px solid #22F;
}

textarea {
  font-size: 14px;
  padding: 3px 5px;
}

.block-btns {
  position: absolute;
  top: 110px;
  right: 50px;
}

.block-btns .error {
  margin-right: 10px;
}

.block-btns button {
  height: 30px;
  font-size: 14px;
}

.modal {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  border: 1px solid #22F;
  display: none;
  background-color: white;
}

.modal-header {
  line-height: 38px;
  font-size: 22px;
}

.modal-header button {
  position: absolute;
  right: 10px;
  height: 30px;
  font-size: 16px;
}

.modal-input {
  width: 98%;
  height: 90%;
}